#bandeau{
    min-height:100px;
    background:lightgrey;
    border-right:1px black solid;
    border-left:1px black solid;
    border-bottom:1px black solid;
}


footer{
    margin-top:100px;
}

#categories{
    min-height:150px;
}

#logo{
    height:100px;
}


#menu{
    min-height:100px;
    padding:20px;
    border-bottom:1px solid black;
    border-left:1px solid black;
    border-right:1px solid black;
}

#menu a{
    padding:5px;
    margin-top:15px;
    margin-left:5px;
    margin-right:5px;
    font-size:1.5em;
}

nav[class~="navbar"]:hover{
    border:2px black solid;
}
.navbar{

    margin:5px;
}

.navbar.navbar-1 .navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
}
.navbar-toggler.toggler-example {
cursor: pointer;
}
@media only screen and (min-width:800px)
{
    
.table{
    margin-left:50px;
    margin-right:50px;
}
}